body {
    font-family: sans-serif;
    background-color: #000;
    opacity: 1;
    margin:0;
}

.hidden {
    display: none;
}

img {
    position: absolute;
    opacity: 0.5;
    order: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 1;
}


.container {
    position: relative;
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    margin: 0 auto;
}

#clock {
    font-size: 100px;
    margin-bottom: -50px;
    margin-top: 100px;
    color: white;

}


.login-form h2 {
    color: white;
}

.login-form input {
    border: 1px solid white;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.login-form input:focus {
    color: white;
}

.login-form input::placeholder {
    color: white;
}

.login-form button {
    border: 1px solid white;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#greeting {
    color: white;
    font-size: 48px;
}

.todo-form {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.todo-form input {

    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 180px;
}

.todo-form input:focus {
    color: white;
}

.todo-form input::placeholder {
    color: white;
}

.todo-list {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    color: white;

}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote * {
    color: white;
    font-size: 18px;
}

.weather {
    display: flex;
    flex-direction: column;
    margin-bottom: -50px;
}

.weather span {
    color: white;
    margin: 0 auto;
}
