body{
    background-color:tomato;
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
    
}
#outbox{
    background-color:blanchedalmond;
    width:400px;
    height:400px;
    border:3px solid black;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
   
   

}
.inbox{
    height:75px;
    width:75px;
    background-color:teal;
    border : 4px solid white;
}
.inbox:nth-child(2){
    width:300px;
    border-style: dashed;
}

/* 정답 */
/* body {
    background:tomato;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .father{
    width:200px;
    height:200px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    background:wheat;
    border:2px solid black;
  }
  
  .inside {
    background:teal;
    height:50px;
    width:50px;
    border:3px solid white;
  }
  
  .inside-second {
    width: 100%;
    border-style:dashed;
  } */